
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url('/public/images/clouds2.jpg');
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover;
}

.card{
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.548) ;
  border-radius: 1rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__header, .card__footer{
  text-align: center;
  grid-column: span 2;
}

.card__title{
  font-size: 2rem; 
  align-items: center;
}

.card__subtitle{
  font-size: 1.5rem;
  font-weight: 300;
}

.card__info{
  padding-top: 1.3rem;
}

.card__description{
  text-align: center;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  font-weight: 500;

}

.card__list{
  display: grid;
  gap: 0.5rem;
  font-size: 0.85rem;
  font-weight: 300;
  justify-content: center;

}

.card__item{
  display: flex;
}

.card__span{
  padding-right: 0.5rem;
}

.icon{
  padding-right: 9px; 
  text-align: center;
}

.box__icon{
  padding-left: 0.3rem;
  text-align: center;
}

.card__footer{
  text-align: center;
}

.card__temp{
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.card__btn{
  padding: 0.5rem 0.8rem;
  font-size: 0.95rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(20, 46, 112, 0.7);
  transition: transform 100ms ease;
  background-color: rgba(78, 139, 245, 0.658); 
}

.card__btn:hover {
  transform: scale(1.04);
}

.card__btn:active {
  transform: scale(1);
  box-shadow: 1px 1px 5px rgba(1, 42, 117, 0.7);
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  

